.login-page {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-container {    
    width: 500px;
    display: flex;
    flex-direction: column;
}

.login-page-container .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 80px;
    text-align: center;
}

.login-page-container .form {
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form input {
    border: 1px solid #5b94ed;
    border-radius: 9999px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center
}

.wrong-alert {
    border-radius: 30px!important;
    margin-bottom: 30px;
}

.form input::placeholder {
    text-align: center; 
    color: #cfd8dc;
 }

button {
    cursor: pointer;
    border: none;
    background-color: #5b94ed;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}


